<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew_exercise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <%#=  
	  <h1 class="welcome_title">ようこそBookersへ！</h1>
	  <p class="welcome_text">
	  <span>Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
	  印象を共有し交換することができます
	  </p>
	  <a class="start_link" href="/books">start</a>
        	%>

    <%= yield %>
  </body>
</html>
